<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>nOteS</title>
    <script src="../lib/note-model.js"></script>

    <script src="../lib/note-list-model.js"></script>
    <script src="../lib/note-controller.js"></script>

    <script src="../spec/assert.js"></script> 
    <script src="../lib/note-list-view.js"></script>
    <script src="../spec/note-list-view-spec.js"></script>
    <script src="../spec/note-controller-spec.js"></script>
    <script src="../spec/note-list-model-spec.js"></script>
    <script src="../spec/note-spec.js"></script>

  </head>
  <body>
    <h1>TEST</h1>
    <ul>
      <li>The</li>
      <li>Kate</li>
      <li>And</li>
      <li>Clare</li>
      <li>Show</li>
    </ul>
  </body>
</html>
